.col-yellow {
    background-color: #ffffb8;
}

.col-green {
    background-color: #d9f7be;
}

.col-blue {
    background-color: #bae7ff;
}

.col-red {
    background-color: #ffccc7;
}

.col-orange {
    background-color: #ffe7ba;
}