.bg-color-blue {
    background-color: #91d5ff;
}

.bg-color-success {
    background-color: #f6ffed;
}

.bg-color-danger {
    background-color: #fff1f0;
}

.bg-color-green {
    background-color: #d9f7be;
}