
// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Roboto";
$font-size-base: 0.9rem;
$font-size-sm: 14px;
$body-color: #212b48;
$line-height-base: 1.7;

$headings-font-weight: 700;
$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;

$btn-border-radius: 2px;
$btn-border-radius-lg: 2px;
$btn-border-radius-sm: 2px;
$btn-padding-y: 7px;
$input-border-radius: 2px;
$input-border-radius-lg: 2px;
$input-border-radius-sm: 2px;

$custom-checkbox-indicator-border-radius: 2px;

$custom-radio-indicator-border-radius: 2px;

$custom-switch-indicator-border-radius: 2px;

$custom-select-border-radius: 2px;

$custom-range-track-border-radius: 2px;

$custom-range-thumb-border-radius: 2px;

$custom-file-border-radius: 2px;

$nav-tabs-border-radius: 2px;

$nav-pills-border-radius: 2px;

$navbar-toggler-border-radius: 2px;

$dropdown-border-radius: 2px;
$dropdown-inner-border-radius: 2px;


$card-border-radius: 2px;
$card-inner-border-radius: 2px;

$tooltip-border-radius: 2px;


$form-feedback-tooltip-border-radius: 2px;


$popover-border-radius: 2px;
$popover-inner-border-radius: 2px;


$toast-border-radius: 2px;

$badge-border-radius: 2px;

$badge-pill-border-radius: 2px;

$modal-content-border-radius: 2px;
$modal-content-inner-border-radius: 2px;

$alert-border-radius: 2px;

$progress-border-radius: 2px;

$list-group-border-radius: 2px;

$thumbnail-border-radius: 2px;


$breadcrumb-border-radius: 2px;

// Colors

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #02c857;
$teal: #4dc0b5;
$cyan: #1dafdf;
// $info: #326e51;
$primary: #009aff;
$warning: #ec973b;

$hasaki: #326e51;

$pro-header-hover-bg: rgba(0, 0, 0, 0.1);
$layout-header-height: 50px;


$bg-header: #367fa9;
$bg-footer: #eeeff3;

$pagination-item-input-bg:#ffffff